* {
    padding: 0;
    margin: 0;
}

.border-sample {
    border: thin solid rgb(255, 255, 255) !important;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 5ch;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    background-color: black;
    font-size: 12pt;
    background-image: url(greek-vase.png);
}

header {
    color: #6495ED;
    font-size: 24pt;
    padding: 20px;
    font-family: 'Dela Gothic One', cursive;
    text-align: left;
    border-bottom: 1px solid white;
    background-color: black;
    width: 2450px;
    background-position-x: center;
    position: fixed;
}

footer {
    background-color: #6495ED;
    color: black;
    text-align: center;
    height: 50px;
}

.container {
    padding: 20px;
    padding-top: 100px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.content {
    margin-bottom: 30px;
    text-align: justify;
}

p {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width: 200px;
    color: black;
}

.section-container {
    display: flex;
    justify-content: space-evenly;
}